<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <!-- LOG "byeduck.lunchroom*" at TRACE level -->
    <logger name="byeduck.lunchroom" level="trace" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

</configuration>